.topheader {
  position: fixed;
  background-color: skyblue;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li a {
  display: Block;
  padding: 20px 20px;
  color: black;
  text-decoration: none;
}
.Menu-Vertical {
  list-style: none;
  background-color:skyblue ;
  padding: 0;
  position: absolute;
  display: none;
  width: 150px;
}
.Menu-Horizontal li a:hover {
  color: white;
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: Block;
}

.seccion-productos {
  padding: 60px 20px;
  background-color: whitesmoke;
}
.div-gral-productos{
  display: flex;
  justify-content:space-between;
  align-items:center;
  max width: 1200px ;
  margin:0 auto;
  gap: 40px;
}
.div-prod-texto{
flex:1;
}
.div-prod-texto{
  color:skyblue;
}
.div-prod-texto p{
  color:black;
  line-height: 1.6;
  font size: 10px;
}
.div-prod-texto button{
  margin top:20px;
  padding:10px 20px;
  background-color:orange;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}
.div-prod-img{
  flex:1;
}
.div-prod-img img{
  width:100%;
  max: width 500px;
}
.seccion-zonding{
  padding:60px 20px;
  background-color:white;
  }
.div-gral-zonding{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}
.div-zonding-texto{
  flex:1;
}
.div-zonding-texto h2{
color:skyblue;
}
.div-zonding-video{
  flex:1;
}
.div-zonding-video iframe{
  width:100%;
  max-width:500px;
}
.seccion-formulario{
  background-color:aqua; 
  padding: 40px;
  border: 3px;
  display: flex; 
  justify-content: center; 
  margin-bottom: 40px; 
 }
 
 .div-cont-formulario{ 
  background-color: antiquewhite; 
  padding: 30px; 
  border: 3px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
 }
 .seccion-formulario{
  background-color:aqua; 
  padding: 30px; 
  border: 3px solid purple; 
  border-radius:10px ;
  display: flex;
  justify-content: center; 
  margin-bottom: 40px; 
 }
 
 .div-cont-formulario{ 
  background-color: antiquewhite; 
  padding: 30px; 
  border: 2px solid green; 
  border-radius: 10px; 
  width: 100%; 
  max-width: 500px; 
 }
 
 .campo{
  background-color:skyblue ;
  border: 1px; 
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 5px;
 }
 
 .formulario label{
  display: block;
  font-weight:200px ;
  margin-bottom:8px;
  color:violet;
 }
 .campo{
  margin-bottom:15px; }

 .formulario input[type="text"],
 .formulario select{
  width:100%;
  padding: 10px;
  border: 1px;
  border-radius: 5px ;
  box-sizing: border-box;
   }
  .lita-checkbox,
  .lista-radio{
    list-style: none;
    padding:10px;
    border: 1px solid #000000;
    background-color: #c79cef;
    margin:0; 
    border-radius: 8px;
  }
.formulario-button{
  background-color: orange;
  color: antiquewhite;
  border: 1.5px solid blue;  
}





